# https://github.com/gabibdods/NewRepositoryTemplate:
*

!.gitattributes
!.gitignore
!.gitlab-ci.yml
!README.md

!.gitlab/
!.gitlab/sast-ruleset.toml

!License/
!License/LICENSE.md
!License/NOTICE.md


# particular repository ignores:

!docker-compose.yaml
!Dockerfile
!init.sql
!packet.example
!packet_doc_official.docx
!packet_doc_public.md

!client/
!client/Dockerfile
!client/PacketVisionListener.csproj
!client/Program.cs
!client/Worker.cs

!frontend/
!frontend/api.php
!frontend/composer.json
!frontend/composer.lock
!frontend/db.php
!frontend/Dockerfile
!frontend/F1Wide.otf
!frontend/favicon.png
!frontend/functions.php
!frontend/index.php
!frontend/script.js
!frontend/stylesheet.css
!frontend/wait-for-it.sh

!openf1/
!openf1/CMakeLists.txt
!openf1/main.cpp

!websocket/
!websocket/Dockerfile
!websocket/package.json
!websocket/package-lock.json
!websocket/websocket.js
